.Badge {
  text-align: center;
  &Container {
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 5px #000;
  }
  &Background {
    max-width: 100%;
  }
  &Content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(#000, 0.75);
    color: #fff;
    display: flex;
    .Thumbnail {
      display: flex;
      padding: 25px;
      flex-direction: column;
      img {
        width: 128px;
        border-radius: 10px;
        box-shadow: 0 0 5px #fff;
      }
    }
    .Content {
      padding: 15px;
      text-align: left;
      p {
        margin: 20px 0;
        font-size: 1.25em;
      }
    }
  }
}
